@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Common css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root variables */
:root {
  --roboto-font:"Roboto",sans-serif;
  --lilita-font:"Lilita One",cursive;
  --oswald-font:"Oswald",sans-serif;
}

/*Color */
.color{
    --light-black:#333;
    --light-white:#f7f7f7;
    --light-red:#e3000e;
    --light-grey: #f6f9fa;
    --light-grey-2:#dddddd;
    --white:#fff;
    --grey:#757575;
    --brown:#6f5e4d;
    --bg-coffee:#642f21;
}

body,html{
  font-size:1rem;
  font-family: var(--roboto-font);
  font-weight: 300;
}

@media(max-width:992px){
  body,html{
    font-size: 0.875rem;

  }
  
}

/*Heading Tag*/
h1,h2,h3,h4,h5,h6{
  font-family: var(--oswald-font);
  font-weight: 500;
  text-transform: uppercase;
  line-height:1.3;
}
p{
  font-size:16px;
}

/*Achor Tag*/

a{
  color:var(--light-black);
  text-decoration: none;
  -webkit-transition:all 400ms ease-in-out;
  -ms-transition:all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition:all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/*Custom scrollbar*/
::-webkit-scrollbar{
  width: 5px;
}


::-webkit-scrollbar-track{
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background: var(--yellow);
}

/*Common Button*/
.order_now{
  color: var(--light-black);
  background: var(--yellow);
  border-color:var(--yellow);
  padding:15px 38px;
  font-size: 18px;
  font-weight:600;
  letter-spacing: 0.5px;
  font-family: var(--oswald-font);
  vertical-align:middle;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.btn_red{
  color:var(--white);
  background:var(--light-red);
  border-color:var(--light-red);
}
.btn_red:hover,
.btn_red:focus{
  color:var(--light-red);
  background:transparent;
  border-color:var(--light-red);
}
/* Logo image styling */
.logo {
  height: 40px; /* Keeps it nicely aligned inside navbar */
  width: auto;
  object-fit: contain;
}

/* Adjust cart badge */
.roundpoint {
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -8px;
  right: -10px;
}
.logo {
  height: 40px;
  margin-right: 10px;
}


